<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446735603544-e16ivlkbsapd8s0d8uop27u710nf16q4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446735603544-e16ivlkbsapd8s0d8uop27u710nf16q4</string>
	<key>API_KEY</key>
	<string>AIzaSyDx8gBizw-_x7LAZ_rWxqnztOHZrkE4tRM</string>
	<key>GCM_SENDER_ID</key>
	<string>446735603544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.actHubProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>act-hub-3ce38</string>
	<key>STORAGE_BUCKET</key>
	<string>act-hub-3ce38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446735603544:ios:e05eb4f65048e382b2f72d</string>
</dict>
</plist>